<div id="former">
<div id="inner"><form #myForm="ngForm" #frm>

<label>Title</label><br>
<input [(ngModel)]="title" type="text"  (keyup)="saveBlogWithoutTimeChange()" value="{{title}}" name="title" #Title="ngModel">
<br>
<br>
<label>Body</label> <br>
<textarea rows="25" cols="50" name="body" [(ngModel)]="body" #Body="ngModel">{{body}}</textarea> <br>
<button type="button" (click)="saveBlog(myForm)" [disabled]="!Body.dirty && !Title.dirty">Save</button>
<button type="button" (click)="toPreview()">Preview</button>
<button type="button" (click)="deletePost()">Delete</button>
</form></div>
</div>
