#previewer 
{
	float: left;
	width: 40%; 
}

#inner 
{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.badge {
  
  font-size: x-large;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  border-radius: 4px 4px 4px 4px;
}
